remote_theme: pages-themes/time-machine@v0.2.0
plugins:
- jekyll-remote-theme # add this line to the plugins list if you already have one
  title: [Samar Zubair]
description: [Results-driven Graphic Designer and founder of SamDesigns, specializing in brand identity and social media marketing. Expert in creating high-impact business posters, custom logos, and unique 3D character renders. Focused on delivering high-definition (4K) visual solutions and professional branding packages that help local businesses enhance their digital presence."]
